node_modules
.expo
dist
build
web-build
examples
cypress/screenshots
cypress/videos
coverage/lcov-report
coverage/coverage-final.json
coverage/clover.xml
coverage/lcov.info

# helper files for the llm
#libra-framework/

bun.lock
package-lock.json
